<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-xlarge">
  <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i
        class="fa fa-map-marker w3-margin-right"></i>Logo</b></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-hover-red w3-text-grey"><i class="fa fa-search"></i></a>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px">
  <img class="w3-image" src="https://www.w3schools.com/w3images/london2.jpg" alt="London" width="1500" height="700">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'GlobalSearch');"><i
          class="fa fa-search w3-margin-right"></i>Global Search</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'ImageSearch');"><i
          class="fa fa-image w3-margin-right"></i>Image Search</button>
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'KeywordSearch');"><i
          class="fa fa-key w3-margin-right"></i>Keyword Search</button>
    </div>

    <!-- Tabs -->
    <div id="GlobalSearch" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Search for doctors</h3>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <div class="w3-half">
          <label>Sickness</label>
          <input class="w3-input w3-border" type="text" placeholder="sickness">
        </div>
        <div class="w3-half">
          <label>Specialization</label>
          <input class="w3-input w3-border" type="text" placeholder="Specialization">
        </div>
      </div>
      <p><button class="w3-button w3-dark-grey">Search and find doctors</button></p>
    </div>

    <div id="ImageSearch" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Find suppliers by searching an image</h3>
      <p>Find the closest suppliers.</p>
      <p>Get your medicine delivered to your door step.</p>
      <div class="w3-row-padding" style="margin:0 -16px;">
        <label>Image</label>
        <input class="w3-input w3-border" type="file" placeholder="Image">
      </div>
      <p><button class="w3-button w3-dark-grey">Search Image</button></p>
    </div>

    <div id="KeywordSearch" class="w3-container w3-white w3-padding-16 myLink">
      <h3>Search for doctors and treatments.</h3>
      <p><span class="w3-tag w3-deep-orange">DISCOUNT!</span> Special offer if you book an appointment today: 25% off
        anywhere in the Country with Panchakarma</p>
      <input class="w3-input w3-border" type="text" placeholder="Pick-up point">
      <p><button class="w3-button w3-dark-grey">Search doctors and treatments</button></p>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px;">

  <!-- Good offers -->
  <div class="w3-container w3-margin-top">
    <h3>Good Offers Right Now</h3>
    <h6>Up to <strong>50%</strong> discount for appointments.</h6>
  </div>

  <!-- Newsletter -->
  <div class="w3-container">
    <div class="w3-panel w3-padding-16 w3-black w3-opacity w3-card w3-hover-opacity-off">
      <h2>Get the best offers first!</h2>
      <p>Join our newsletter.</p>
      <label>E-mail</label>
      <input class="w3-input w3-border" type="text" placeholder="Your Email address">
      <button type="button" class="w3-button w3-red w3-margin-top">Subscribe</button>
    </div>
  </div>

  <!-- Contact -->
  <div class="w3-container">
    <h2>Contact</h2>
    <p>Let us book your next trip!</p>
    <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
    <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
    <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p><button class="w3-button w3-black w3-padding-large" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

  <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Developed by <a href="" target="_blank" class="w3-hover-text-green">Suren Vithanage</a></p>
</footer>